element.style {
}
@media (max-width: 979px)
bootstrap-responsive.css:940
body {
    padding-top: 0;
}
@media (max-width: 767px)
bootstrap-responsive.css:790
body {
    padding-right: 20px;
    padding-left: 20px;
}
bootstrap.css:7147
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
bootstrap.css:6075
body {
    margin: 0;
}
bootstrap.css:224
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
global.css:18
body {
    padding: 0;
    margin: 0;
    font-family: arial;
}
bootstrap.css:7131
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
Inherited from html
bootstrap.css:7142
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
bootstrap.css:6070
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.css:36
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
global.css:899
::selection {
    background: #666;
    color: white;
}


element.style {
}
header.css:89
.content-global {
    height: 100%;
    position: fixed;
    width: 100%;
    background-image: url(../img/background-page.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
bootstrap.css:7131
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body
bootstrap.css:7147
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
bootstrap.css:224
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
global.css:18
body {
    padding: 0;
    margin: 0;
    font-family: arial;
}
Inherited from html
bootstrap.css:7142
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
bootstrap.css:6070
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.css:36
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
global.css:899
::selection {
    background: #666;
    color: white;
}


element.style {
}
login.css:11
.majjen {
    padding: 11px 0;
    background: #c09f5e;
    position: absolute;
    bottom: 0;
}
bootstrap.css:7687
.col-xs-12 {
    width: 100%;
}
bootstrap.css:7684
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
bootstrap.css:7678
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
header.css:101
.majjen {
    padding: 11px 0;
    background: #c09f5e;
    position: absolute !important;
    bottom: 0;
}
bootstrap.css:7131
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from body
bootstrap.css:7147
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
bootstrap.css:224
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
global.css:18
body {
    padding: 0;
    margin: 0;
    font-family: arial;
}
Inherited from html
bootstrap.css:7142
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
bootstrap.css:6070
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.css:36
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
global.css:899
::selection {
    background: #666;
    color: white;
}


element.style {
}
bootstrap.css:7157
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
bootstrap.css:6206
input {
    line-height: normal;
}
bootstrap.css:6178
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
bootstrap.css:1316
input, textarea, .uneditable-input {
    margin-left: 0;
}
bootstrap.css:1088
input, textarea, .uneditable-input {
    width: 206px;
}
bootstrap.css:1047
input, button, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
bootstrap.css:1038
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
bootstrap.css:93
button, input {
    line-height: normal;
}
bootstrap.css:86
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
global.css:24
input {
    color: gray;
    border: 1px solid #D7D7D7;
    font-family: arial;
}
bootstrap.css:7131
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
user agent stylesheet
input[type="hidden" i] {
    display: none;
}
user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
Inherited from body
bootstrap.css:7147
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
bootstrap.css:224
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
global.css:18
body {
    padding: 0;
    margin: 0;
    font-family: arial;
}
Inherited from html
bootstrap.css:7142
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
bootstrap.css:6070
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
bootstrap.css:36
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
Pseudo ::before element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
bootstrap.css:7137
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::selection element
global.css:899
::selection {
    background: #666;
    color: white;
}